body {
  background: #1a1a1a;
  color: white;
  font-family: "Do Hyeon", monospace;
  display: grid;
  place-items: center;
  margin: 0;
  height: 95vh;
}

.wrapper {
  text-align: center;
}

h1.title {
  font-weight: 400;
}

a.github {
  color: #ffd54f;
  font-size: 108%;
  line-height: 3em;  
}

/* top of console window */
.console {
  position: relative;
  margin: 2em auto;
  border-radius: 2px 2px 0 0;
  border-top: 2em solid #2a2a2a;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 80vw;
  height: 260px;
  max-width: 640px;
}

/* window control "buttons" */
@media only screen and (min-width: 410px) {
  .console:before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    top: -1.25em;
    right: 5.5em;
    border-radius: 50%;
    box-shadow: 1.5em 0 0 2px #ffd54f, 3em 0 0 2px #81c784,
      4.5em 0 0 2px #e57373;
  }
}

.console:after {
  content: attr(aria-label);
  position: absolute;
  top: -1.65em;
  left: 1em;
}

.console > * {
  display: block;
}

input.tab {
  display:none;
}

input.tab + label:before {
  content: attr(data-text);
  color: white;
  font-family: "Do Hyeon", system-ui, monospace;
  line-height: 2.2em;
  padding-right: 1em;
  position: absolute;
  top: -2.2em;
  left: 5.5em;
  width: 5em;
  height: 0em;
  border-bottom: 3em solid #313131;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
  font-size: 83%;
}

input.tab:nth-of-type(2) + label:before {
  position: absolute;
  left: 11.2em;
}

input.tab:checked + label:before {
  border-bottom: 3em solid black;
  z-index: 2;
}

iframe {
  width: 100%;
  border: none;
  margin: 0;
  background: black;
  height: 100%;
  z-index: 99;
  position: relative;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

button {
  border-radius: 50%;
  border: none;
  width: 2.2em;
  height: 2.2em;
  margin: 0.3em;
  font-family: monospace;
  font-size: 1.5em;
  cursor: pointer;
  background: #1a1a1a;
  transition: 0.2s ease-in-out;
  color: #ffd54f;
  outline: none;
}

button.active,
button:hover {
  background: #2a2a2a;
}
