body {
  background: #1a1a1a;
  color: white;
  font-family: "Do Hyeon", monospace;
  display: grid;
  place-items: center;
  margin: 0;
  height: 80vh;
}

.wrapper {
  text-align: center;
}

h1.title {
  font-weight: 400;
}

.console {
  position: relative;
  margin: 2em;
  border-radius: 2px 2px 0 0;
  border-top: 2em solid #2a2a2a;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 80vw;
  height: 240px;
}

.console:before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  top: -1.25em;
  right: 4em;
  border-radius: 50%;
  background-color: #ffd54f;
  box-shadow: 0 0 0 2px #ffd54f, 1.5em 0 0 2px #81c784, 3em 0 0 2px #e57373;
}

.console:after {
  content: attr(aria-label);
  position: absolute;
  top: -1.65em;
  left: 1em;
}

.console > * {
  display: block;
}

input.tab {
  height: 0;
  margin: 0;
}

input.tab:before {
  content: attr(aria-label);
  color: white;
  font-family: "Do Hyeon", system-ui, monospace;
  line-height: 2.25em;
  padding-left: 1.25em;
  position: absolute;
  top: -2.2em;
  left: 6em;
  width: 5em;
  height: 0em;
  border-bottom: 2.2em solid #313131;
  border-radius: 6px 6px 0 0;
  z-index: 1;
  cursor: pointer;
}

input.tab:nth-of-type(2):before {
  position: absolute;
  top: -2.2em;
  left: 12em;
}

input.tab:checked:before {
  border-bottom: 2.2em solid black;
  z-index: 2;
}

iframe {
  width: 100%;
  border: none;
  margin: 0;
  background: black;
  height: 100%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  border-radius: 50%;
  border: none;
  width: 2.2em;
  height: 2.2em;
  margin: 0.3em;
  font-family: monospace;
  font-size: 1.5em;
  cursor: pointer;
  background: #1a1a1a;
  transition: 0.2s ease-in-out;
  color: #ffd54f;
}

button:hover {
  background: #2a2a2a;
}
